
h1.identificador{
    font-size: 280%;
    font-weight: bold;
    text-align: center;
    background-color: red;
}
h1.secundario{
    font-size: 280%;
    font-weight: 900;
    text-align: center;
    background-color: red;
}
body.fondo{
    background-color: grey;
}
span.animal{
    font-style: italic;
    font-size: 200%;
}
span.lobo{
    font-style: italic;
    font-size: 200%;
}

span.perro{
    color: red;
    font-style: italic;
    font-size: 200%;
}
span.dingo{
    color: red;
    font-style: italic;
    font-size: 200%;
}
section.perro1{
    text-align: center;

}

p.dingo{
    text-align: right;
}
div.lobo{
    background-color: red;
    display: inline-block;
}
span.sub{
    font-size: 150%;
    font-style: italic;
}
img.lobo{
    float: right;
}





p.pie{
    clear: both;
}






ul.prime{
    list-style-type: circle;
}
ul.secon{
    list-style-type: disc;
}
ul.tercer{
    list-style-type: square;
}

ol.prueba1{
    list-style-type: upper-alpha;
}

ol.prueba2{
    list-style-type: lower-alpha;
}

div.rojo{
    background-color: red;
}

span.color{
    background-color: red;
}
dl.solo{
    clear: both;
    
    font-size: 150%;
}
section.solo{
    text-align: center;
}
table{
    border: red;
}
td,th{
    border: blue;
}